
p{
    color:blue !important;
    background-color:yellow;

    }

body:active{
    flex-direction: row-reverse;
    margin-left: 200px;
}

body{
    display: flex;
    flex-direction: row;
    margin-right:100px;
}
img:active{

box-shadow: -40px -10px 5px 0px rgb(171, 168, 167 );
-webkit-filter: grayscale(100%);
filter: grayscale(100%);

}




#invisible{
    visibility:hidden;
}

img{
    width:120%;
}

#visible{

    margin: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;

}


h2:hover{
    font-size: 30px;
}



@media screen and (max-width:550px) {

    body{
        visibility: hidden;
    }
        #invisible{

            visibility:visible;
            background-color: white;
        }

    }
